<!DOCTYPE>
<html xml:lang="en" lang="en">
<meta charset="utf-8">
<meta name="og:description" content="Hi, i`m Bojan Vasilevski web designer & web developer and this is my portfolio.">
<meta name="description" content="Hi, i`m Bojan Vasilevski web designer & web developer and this is my portfolio.">
<meta name='og:title' content="Bojan Vasilevski - Web Designer & Developer">
<meta name="author" content="Bojan Vasilevski">
<meta property="og:type" content="website" />
<meta name="keywords" content="web designer portfolio, front-end , bojan vasilevski,responsive , freelance, web design, web development, developer, development,portfolio">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-89963416-1', 'auto');
        ga('require', 'GTM-PG6RNFJ');
        ga('send', 'pageview');
    </script>
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function(a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-PG6RNFJ': true
        });
    </script>
    <title>Bojan Vasilevski | Web Designer & Web Developer</title>
    <link rel="stylesheet" type='text/css' href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js " integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin=" anonymous "></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Rosarivo" rel="stylesheet">
</head>

<body>
    <div class="wraper">
        <header>
            <div class="head">
                <div class="lnav">
                    <ul>
                        <li><a href="#home"><span>H</span>OME</a></li>
                        <li><a href="#about" title='about Bojan Vasilevski Web Designer and Web Developer'><span>A</span>BOUT</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
                </div>
                <div class="rnav">
                    <ul>
                        <li><a href="#portfolio" title='portfolio of Web Designer and Web Developer'><span>P</span>ORTFOLIO</a></li>
                        <li><a href="#contact" title='contact for Bojan Vasilevski'><span>C</span>ONTACT</a></li>
                    </ul>
                </div>
                <div class="mobilemenu">
                    <li><a href="#about">About me</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </div>
            </div>
        </header>
        <!-- main image -->
        <div class="section1 " id='home'>
            <div class="part1">
                <h1><span>Web Desing & Web Development</span></h1>
            </div>
            <div class="part2">
                <h2>I`am Bojan Vasilevski.</h2>
                <h3>Developer from Skopje, Macedonia</h3>
                <div class="skils">
                    <h4>HTML5</h4>-
                    <h4>CSS</h4>-
                    <h4>JAVASCRIPT</h4>-
                    <h4>JQUERY</h4>-
                    <h4>ANGULAR.JS</h4>-
                    <h4>NODE.JS</h4>-
                    <h4>EXPRESS.JS</h4>-
                    <h4>MONGODB</h4>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="section2">
            <div class="work">
                <div class="webdesign">
                    <div class="circle"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                    <h2>Web Design</h2>
                    <p>My approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</p>
                </div>
                <div class="responive">
                    <div class="circle"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                    <h2>Responsive Websites</h2>
                    <p>I create my websites using the latest technology to produce websites that work no matter what device they are being viewed on. </p>
                </div>
                <div class="development">
                    <div class="circle"><i class="fa fa-book" aria-hidden="true"></i></div>
                    <h2>Web Development</h2>
                    <p>I develop to ensures your website is lightweight, easily expandable, search engine friendly and of course W3C compliant</p>
                </div>
                <div class="social">
                    <div class="circle"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
                    <h2>Social Media</h2>
                    <p>Social Media is a powerful part of a comprehensive marketing strategy, boost your visibility and increase your dialogue with your customers</p>
                </div>
            </div>
        </div>
        <!-- about section begins -->
        <div class="about">
            <div class="me" id='about'>
                <h2><span>About me</span></h2>
                <div class="meimg"></div>
                <div class="text">
                    <p>I`m a creative Web Designer and Web Developer based in Skopje, Macedonia.I'm self educated and i started studying from the beginning of 2016 and i'm still learning; I am designing and developing websites , web application , single-pages
                        applications etc.;Clients often approach me when they need someone with the following skills:
                        <br>
                        <ul>
                            <li>
                                <h4>Front-end Development</h4>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript
                                        <ul>
                                            <li>Jquery</li>
                                            <li>Angular.js</li>
                                        </ul>
                                    </li>
                                    <li>Photoshop</li>
                                    <li>SEO</li>
                                    <li>Animation</li>
                                </ul>
                            </li>
                            <li>Backend Development
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express.js</li>
                                    <li>MongoDB</li>
                                </ul>
                            </li>
                        </ul>
                        When working on a project, i like to speak to my client so that i can have clear understanding of their needs; Thank you in advance for your time;</p>
                </div>
            </div>
        </div>
        <div class="skills">
            <h2>Skills Bar</h2>

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #9e894d;"><span>HTML5</span></div>
                <div class="skillbar-bar" style="background: #9e894d;"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #343a63;"><span>CSS3</span></div>
                <div class="skillbar-bar" style="background: #343a63;"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #808234;"><span>javascript</span></div>
                <div class="skillbar-bar" style="background: #808234;"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="55%">
                <div class="skillbar-title" style="background: #5a7c4d;"><span>Node.js</span></div>
                <div class="skillbar-bar" style="background: #5a7c4d;"></div>
                <div class="skill-bar-percent">55%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #474f43;"><span>Express.js</span></div>
                <div class="skillbar-bar" style="background: #474f43;"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title" style="background: #3f2a1d;"><span>SEO</span></div>
                <div class="skillbar-bar" style="background: #3f2a1d;"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #52536d;"><span>Photoshop</span></div>
                <div class="skillbar-bar" style="background: #52536d;"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- End Skill Bar -->

        </div>
        <!-- about section end -->

        <!-- portfolio section begins -->
        <div class="portfolio">
            <div class="mainport">
                <h2 id='portfolio'><span>Portfolio</span></h2>
                <div class="port" id='first' style='display:none'>
                    <a href="http://www.aleksandarvasilevski.com" rel='author' target='_blank'>
                        <h4>Aleksandarvasilevski.com</h4>
                    </a>
                    <div class="decor">
                        <div class="cover">
                            <a href="http://www.aleksandarvasilevski.com" rel='author' target='_blank'>
                                <div class="siteimg"></div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="port" id='second' style='display:none'>
                    <a href="http://www.funquiz.xyz" rel='author' target='_blank'>
                        <h4>Funquiz.xyz</h4>
                    </a>
                    <div class="decor">
                        <div class="cover">
                            <a href="http://www.funquiz.xyz" rel='author' target='_blank'>
                                <div class="siteimg2"></div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="port" id='three' style='display:none'>
                    <a href="https://bojanv3.herokuapp.com/" rel='author' target='_blank'>
                        <h4>Bojanvasilevski.com</h4>
                    </a>
                    <div class="decor">
                        <div class="cover">
                            <a href="https://bojanv3.herokuapp.com/" rel='author' target='_blank'>
                                <div class="siteimg3"></div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- portfolio section ends -->

        <!-- contact begins -->
        <div class="con">
            <h2 id='contact'><span>Contact</span></h2>
            <div class="contact">


                <p> Interested in what you see? lets get in touch contact me, Please allow a couple of business days for me to respond.</p>

                <form id="contact-form" method="POST" name='person' action="/mail" enctype="application/x-www-form-urlencoded">

                    <div id='contact' class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Lastname *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-info btn-send" value="Send message">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted"><strong>*</strong> These fields are required.</p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- contact ends -->
        <!-- footer -->
        <footer>
            <div class="lists">
                <div class="socialicon">
                    <a href="https://twitter.com/bojan_vas"><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a>
                    <a href="https://www.facebook.com/bvasilevski"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a>
                    <a href="https://github.com/Bojanvas"><i class="fa fa-git-square" aria-hidden="true"></i>GitHub</a>
                    <a href="https://www.linkedin.com/in/bojan-vasilevski-143809139/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a>
                </div>
                <div class="botnav">
                    <h3>Web Design & Web Development</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <div class="rw-ui-container"></div>
                <h5>Copyrights Bojan Vasilevski 2017</h5>
            </div>
        </footer>

        <!-- footer ends -->
    </div>
    <script src='function.js'></script>
    <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>
    <script type="text/javascript">
        (function(d, t, e, m) {

            // Async Rating-Widget initialization.
            window.RW_Async_Init = function() {

                RW.init({
                    huid: "350582",
                    uid: "28a84045cfc5353112f3f0e756e986e0",
                    source: "website",
                    options: {
                        "size": "medium",
                        "style": "oxygen",
                        "isDummy": false
                    }
                });
                RW.render();
            };
            // Append Rating-Widget JavaScript library.
            var rw, s = d.getElementsByTagName(e)[0],
                id = "rw-js",
                l = d.location,
                ck = "Y" + t.getFullYear() +
                "M" + t.getMonth() + "D" + t.getDate(),
                p = l.protocol,
                f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
                a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
            if (d.getElementById(id)) return;
            rw = d.createElement(e);
            rw.id = id;
            rw.async = true;
            rw.type = "text/javascript";
            rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
            s.parentNode.insertBefore(rw, s);
        }(document, new Date(), "script", "rating-widget.com/"));
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89963416-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>